
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

button {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.418);
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.dark-mode {
  background-color: black;
  color: white;
}
