
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-family: monospace;
  font-size: 25px;
}

h1 {
  font-family: monospace;
}
h2 {
  font-family: monospace;
}

h3 {
  font-family: monospace;
}

input, textarea {
  background-color: #222020;
  color:  #7bf35d;
  border: 4px;
  font-family: monospace;
  font-size: 25px;
  resize: both;
}

button {
  padding: 4px;
  background-color: rgb(15, 14, 14);
  color:  #f3be5d;
  font-size: 25px;
  border:none;
  border-radius: 8px;
  font-family: monospace;
}

.dark-mode {
  background-color: black;
  color: #f3be5d;
}
